
#blur {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/assets/images/header_bg.jpg") center;
    background-size: cover;
    color: #ffffff;
}


#header-navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);

}

#header-navbar-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header-navbar-links > a {
    color: #e5e7eb;
    text-decoration: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

#header-navbar > div > a > img {
    padding: 0 15px;
}

#header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-logo{
    width: 150px;
}

#header-title {
    font-size: 64px;
    width: fit-content;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 4px #2d3748;
}

#button-explorer {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #771f1e;
    transition: .5s;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 20px;
    border: 1px solid transparent;
}

#button-explorer:hover {
    border: 1px solid #ffffff;
}
